/***** 1. Общие стили *****/
/*** Шрифты ***/
body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: black; /*#ffffff*/
	background-color: #849d8f;
}

h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

h2 {
	/*h2 в разметке отсутствует*/
}


/***** 2. Сетка *****/
	/*-- Общее --*/
/***Центровщик блоков**/
.container {
	width: 1146px;
	padding: 0 27px;
	margin-left: auto;
	margin-right: auto;
}

/*** Шапка (header) ***/
.main-header {
	display: flex;
	align-items: flex-start;
	padding-top: 9px;
}

.logo {
	
}

.logo-link {
	margin-right: 27px;	
}

.main-menu ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.main-menu li {
	/*margin-right: 27px;*/
}

.main-menu a,
.user-block a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 14px;
	color: #ffffff;
}

.menu-active {
	background-color: #d07058;
	border-radius: 13px;
}


.user-block {
	padding: 16px;
	margin-left: auto;
}

.user-block a {
	background-color: rgba(255, 255,255, 0.2);
	border-radius: 13px;
}
/*** breadcrumbs  ***/
.content-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.breadcrumbs-navigation {
	display: flex;
	list-style: none;
}

.breadcrumbs-navigation li {
	padding-right: 22px;
}

/*** Подвал (footer) ***/
.main-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 30px;
}

.footer-social {
	width: 267px;
}

.footer-info {
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	width: 267px;
}


/*** Основной контент (main) ***/
	/*-- index.html (главная) --*/
.slider {
	height: 535px;
	margin-bottom: 40px;
	position: relative;
}

.slider-img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -323px;
}

.promo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.promo-left,
.promo-right  {
	width: 560px;
	border-radius: 15px;
}

.promo-left {
	min-height: 229px;
	background: #dc143c url("../img/raspberries-bg.jpg") no-repeat;
}

.promo-right {
	min-height: 229px;
	background: #d2691e url("../img/chocolate-bg.jpg") no-repeat;
}

.best-icecream {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.best-icecream-item {
	width: 267px;
}

.features {
	display: flex;
	flex-wrap: wrap;
	padding: 35px 20px;
	margin-bottom: 40px;
	background: #ecdfc3 url("../img/wafer-bg.jpg") no-repeat;
	border-radius: 15px;
	min-height: 306px; /*!*/
}

.features-item {
	box-sizing: border-box;
	width: 540px;
	padding-top: 18px;
	padding-left: 55px;
	margin-bottom: 15px;
	margin-right: 26px;
}

.features-item:nth-child(odd) {
	margin-right: 0;
}

.blog-subscribe {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog,
.subscribe {
	width: 560px;
	height: 220px;
	border-radius: 15px;
}

.blog {
	background: #ffffff url("../img/blog-bg.jpg");
}

.subscribe {
	background: #ffffff url("../img/subscribe-bg.jpg") no-repeat;
}

.map {
	margin-left: -27px;
}

	/*-- catalog.html (Каталог) --*/
.breadcrumbs {
	width: 560px;
}

.shedule-phone {
	position: absolute;
	top: 0;
	right: 0;
	width: 267px;
	text-align: right;
}

.sorting form {
	display: flex;
	flex-wrap: wrap;
}

.sorting-type {
	width: 194px;
}

.catalog-icecream {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icecream-item {
	width: 267px;
}

.pagination {
	text-align: right;
}











/***** - Для тестирования - *****/
/***--Ободка главных модулей--***/
header,
main,
footer {
	outline: 3px solid blue;
}

/**Ободка главных модулей**/
.container {
	outline: 2px solid gray;
}

/**Ободка блоков "второй" вложенности**/
.slider,
.promo,
.best-icecream,
.catalog-icecream,
.features,
.blog-subscribe,
.pagination,
.sorting {
	outline: 2px solid green;
}

/**Ободка блоков "третий" вложенности**/
.logo,
.main-menu,
.user-block,
.promo-left,
.promo-right,
.best-icecream-item,
.icecream-item,
.shedule-phone,
.blog,
.subscribe,
.footer-social,
.footer-info,
.footer-copyright,
.features-item,
.breadcrumbs,
.shedule-phone {
	outline: 1px solid pink;
}

/*sprite temp
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-blogin-ico {
    width: 21px;
    height: 19px;
    background-position: -10px -10px;
}

.sprite-bsearch-ico {
    width: 17px;
    height: 17px;
    background-position: -51px -10px;
}

.sprite-cart {
    width: 21px;
    height: 20px;
    background-position: -88px -10px;
}

.sprite-cart-full {
    width: 21px;
    height: 20px;
    background-position: -129px -10px;
}

.sprite-cow-ico {
    width: 48px;
    height: 49px;
    background-position: -10px -50px;
}

.sprite-fb-ico {
    width: 32px;
    height: 32px;
    background-position: -78px -50px;
}

.sprite-icacream-ico {
    width: 49px;
    height: 49px;
    background-position: -130px -50px;
}

.sprite-inst-ico {
    width: 32px;
    height: 32px;
    background-position: -10px -119px;
}

.sprite-leaf-ico {
    width: 49px;
    height: 49px;
    background-position: -62px -119px;
}

.sprite-termometr-ico {
    width: 48px;
    height: 49px;
    background-position: -131px -119px;
}

.sprite-tw-ico {
    width: 32px;
    height: 32px;
    background-position: -199px -10px;
}

.sprite-vk-ico {
    width: 32px;
    height: 32px;
    background-position: -199px -62px;
}

.sprite-wlogin-ico {
    width: 21px;
    height: 19px;
    background-position: -199px -114px;
}

.sprite-wsearch-ico {
    width: 17px;
    height: 17px;
    background-position: -199px -153px;
}
*/